/* Add CSS styling here */


/*CSS Reset*/


/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    max-width: 100%;
}


/*End of CSS Reset*/


/*Google Fonts*/

@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Galada&display=swap');
h1,
h2,
h3,
h4 {
    font-family: 'Galada', cursive;
    font-size: 3.5rem;
}

p,
a {
    font-family: 'Caveat';
    font-size: 1.5rem;
}


/*Main CSS*/

body {
    /* display: flex; */
    background-color: #F48186;
}

html {
    font-size: 65.5%;
}

.container {
    /* display: flex; */
    padding: .8rem;
    margin: .8rem;
    max-width: 100%;
}

.top {
    display: flex;
    justify-content: center;
    flex-flow: nowrap;
    width: 80%;
    height: 50px;
    background-color: #FEF1E8;
    font-size: .9rem;
}

.top <a {
    display: flex;
}

header {
    height: 80h;
    width: 70vh;
    background-color: #F48186;
}

nav>a {
    display: flex;
    flex-direction: row;
    width: 150px;
    height: 65px;
    ;
}

.div1 {
    display: flex;
}

.gallery1 img {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: space-between;
    border: 5px solid darkblue;
    height: 200px;
    width: 200px;
}


/*     
    .box {
        display: flex;
        /* flex-direction: row; */

justify-content: space-evenly;

/* flex-wrap: nowrap; */

border: 5px solid darkblue;
height: 200px;
width: 200px;

}
*/ .div3 {
    display: flex;
}
footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
a:hover {
    display: flex;
    text-align: center;
    background-color: #3C3E3D;
    color: #FEF1E8;
    border: 2px solid #F48186;
}
